@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

.card {
  width: 100px;
  height: 150px;
  text-align: center;
  font-size: 24px;
}

.suit-left {
  padding-right: 3rem;
}
.suit-right {
  padding-left: 3rem;
}
